# Configurazione base di lombok
config.stopBubbling = true
lombok.equalsAndHashCode.doNotUseGetters = true
lombok.accessors.chain = true

# Disabilito le funzionalità che potrebbero causare problemi di compilazione
lombok.addLombokGeneratedAnnotation = false
lombok.extern.findbugs.addSuppressFBWarnings = false
lombok.anyConstructor.suppressConstructorProperties = false
lombok.addNullAnnotations = none 